.card {
  text-align: center;
  border: 1px solid #e1e1e1;
  background: white;
  float: left;
  width: 25%;
  margin-left: 85px;
  margin-bottom: 35px;
}

@media only screen and (max-width: 1000px) {
  .card {
      margin-left: 45px;
      width: 75%;
  }
}