.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    position: fixed;
    width: 100%;
  }
  
  .header a {
    float: left;
    color: #01b0fe;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    border: 0.5px solid #03b4fe;
    border-radius: 2em;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  .header .icon {
      display: none;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
  @media screen and (max-width: 1000px) { 
    .header .header-right {
      float: none;
      text-align: left;
      display: none;
     
    }
    .header {
        padding: 2px 2px;
    }
    .header .icon {
        float: right;
        display: block;
    }
    .header-right {
      float: none;
    }

    .header a.logo {
        font-size: 10px;
    }
  }
