.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/dz4wtphvf/image/upload/v1558108337/bg2_ogsgaw.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fefefe;
  animation-name: animatetop;
  animation-duration: 2s;
  font-weight: bolder;
}

@keyframes animatetop {
    from {
      left: 0;
      opacity: 0;
    }
    to {
      left: 50%;
      opacity: 1;
    }
  }
  

@media only screen and (max-width: 800px) {
    .hero {
        font-size: 10px;
        top: 25%;
        height: 350px;
    }

    .hero h3 {
        font-size: 20px;
        font-weight: bolder;
    }

    .hero p {
        font-weight: bolder;
    }

    .hero-content {
        height: 100px;
        top: 25%;
    }
}