.meetup-image {
  height: 300px;
  width: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.meetup-title {
  text-align: center;
  margin-top: -40px;
}

.meetup-details {
  border: 0.5px solid #e1e1e1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.meetup-icon {
  font-size: 30px;
  margin-left: 20px;
}

.meetup-heading {
  text-align: center;
}

.meetup-icon-two {
  font-size: 30px;
  margin-left: 350px;
}

.meetup-textarea {
  margin-top: 30px;
}

.meetup-form {
  margin-left: 20px;
  margin-right: 20px;
}

.meetup-button {
  margin-top: 10px;
}

.meetup-container {
  padding-top: 100px;
  color: #6c757d;
}

.meetup-side-card {
  border: 0.5px solid #e1e1e1;
  display: grid;
  margin-left: 15px;
  grid-template-columns: 20% 80%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.meetup-arrow {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

.meetup-side-content {
  text-align: center;
  margin-top: 5px;
}

.sidebar-meetup {
  margin-left: 15px;
}

.meetup-side-card-second {
  border: 0.5px solid #e1e1e1;
  margin-right: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icon-one {
  margin-left: 8px;
}

.icon-two {
  margin-left: 120px;
}