.form-field {
    width: 70%;
}

.form-label {
    color: #01b0fe;
}

.form-button {
    background-color: #01b0fe;
    border-color: #01b0fe;
}

.form-button:hover {
    background-color: #8e9ea9;
    border-color: #8e9ea9;
}

.form-input {
    border-color: #01b0fe;
}

.signinForm {
   padding-top: 200px;
   padding-bottom: 100px;
   margin-left: 400px;
}

.signupForm {
    padding-top: 140px;
    width: 30%;
    margin-left: 500px;
}

.title-bar-content {
    margin-left: 550px;
}

@media only screen and (max-width: 1000px) { 
    .signinForm {
        margin-left: 70px;
        padding-top: 140px;
        padding-bottom: 50px;
    }

    .form-field {
        width: 80%;
    }

    .title-bar-content {
        margin-top: -50px;
        margin-left: 60px;
        font-size: 40px;
    }
}